<body>
<h1>ðŸ‘¤ãƒ¦ãƒ¼ã‚¶ãƒ¼ä¸€è¦§</h1>

<%= link_to 'æ–°è¦ç™»éŒ²', new_user_path,class: 'b3' %>

<table>
  
  <thead>
    <tr>
      <th>ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹</th>
    </tr>
  </thead>
 
  <tbody>
    <% @users.each do|user| %>
    
        <tr><td><%=link_to user.email,user,class:'b4'%></td>
        <%if current_user.id == 1%>
        <td><%= link_to'ç·¨é›†',edit_user_path(user),class:'b4'%></td>
        <td><%= link_to 'æ¶ˆåŽ»',user,class:'b4',method: :delete, data: { confirm: 'å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ' } %></td></tr>
        <%end%>
      
    <% end %>
  </tbody>
</table>
</body>
